//FONTS
$roboto: 'Roboto', sans-serif;
$source: 'Source Sans Pro', sans-serif;
//COLORS
$beige: #EEECDB;
$pink: #EF5781;
$dark-pink: #FF0F44;
$dark-indigo: #1a0e49;
$light-gray: #AAB1AA;
$mid-gray: #8d8c8c;
$dark-gray: #383743;
$greeny-blue: #57BBBC;
$green: #7DC075;
// GENERAL
h1,h2,h3,h4,h5,h6 {
  font-family: $roboto;
  font-weight: 700;
}
p {
  font-family: $roboto;
  font-weight: 400;
}
// PAGE STYLES
body {
  background-color: $beige;
  color: $dark-gray;
}

// LOGIN
.login-box {
  width: 167px;

  .logo-login {
    width: 147px;
    height: 36px;
    margin-bottom: 32px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  h1 {
    font-weight: 700;
    font-size: 12.8px;
    margin-bottom: 12px;
  }
  p {
    font-size: 8.5px;
    line-height: 12.6px;
    margin-bottom: 23px;
  }
  .login-form {
    width: 167px;

    input {
      border: 0;
      border-bottom: 1px solid $dark-gray;
      font-family: $roboto;
      font-weight: 400;
      font-size: 11px;
      padding-bottom: 5px;
      margin-bottom: 16px;
      outline: none;
      padding-left: 25px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: left bottom 5px;
      background-size: 17px 17px;
      width: 100%;

      &:last-of-type {
        margin-bottom: 0;
      }

      &.error {
        border-bottom-color: $dark-pink;
      }

      &[type="email"] {
        background-image: url('/imgs/email.svg');
      }
      &[type="password"],
      &[type="text"] {
        background-image: url('/imgs/cadeado.svg');
      }
    }
    .btn-default {
      margin-top: 23px;
      width: 100%;
      height: 26px;
      outline: none;
      background-color: $greeny-blue;
      color: #fff;
      font-family: $roboto;
      font-weight: 700;
      font-size: 9px;
      border: 1px solid $greeny-blue;
      border-radius: 4px;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -ms-transition: all 400ms ease;
      -o-transition: all 400ms ease;
      transition: all 400ms ease;
      filter: brightness(1);

      &:hover {
        filter: brightness(1.1);
      }

      &.disabled {
        background-color: #748383;
      }
    }
  }
}
.bg-top-bar {
  background-image: url('/imgs/bg-top.png');
  background-repeat: repeat-x;
  background-size: contain;
  background-color: $pink;
}
.top-bar {
  .container {
    height: 75px;
    position: relative;
    z-index: 1;

    figure {
      width: 117px;
      height: 28px;
      opacity: 1;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease;
      -ms-transition: all 300ms ease;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &.search-opened {
      figure {
        opacity: 0;
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -o-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
      }
    }
    .search-wrapper {
      position: absolute;
      z-index: 2;
      right: 0;
      top: calc(50% - 15px);
      padding-bottom: 5px;
      width: 30px;
      background-color: transparent;
      border-bottom: 1px solid transparent;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;

      .search-icon {
        outline: none;
        overflow: hidden;
        text-indent: -500px;
        border: 0;
        width: 30px;
        height: 30px;
        background-color: transparent;
        background-image: url('/imgs/search.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      input {
        outline: none;
        background-color: transparent;
        border: 0;
        width: 0;
        pointer-events: none;
        display: block;
        color: #fff;
        &::placeholder {
          color: #991237;
        }
      }
      &.opened {
        border-bottom-color: #fff;
        width: 100%;
       & input {
         width: 100%;
         pointer-events: all;
       }
      }
    }
  }
}
.content {
  margin: 22px 0 30px 0;
}

.overlay {
  position: fixed;
  background-color: rgba(255,255,255,0.6);
  left: 0;
  top: 0;
  z-index: 9999;
}

.user-bar {
  background-color: transparent;

  figure {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid $pink;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .btn-logout {
    border: 0;
    background-color: transparent;
    overflow: hidden;
    color: $dark-pink;

    i {
      display: inline-block;
      width: 15px;
      height: 15px;
      overflow: hidden;
      text-indent: -500px;
      background-image: url('/imgs/logout.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.wrapper-result {
  position: relative;
  z-index: 1;
  min-height: calc(100vh - 117px);

  .no-result {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;

    .mute {
      color: #b5b4b4;
    }
  }

  .result-item {

    &:last-of-type {
      margin-bottom: 0;
    }

    .result-item-link {
      background-color: #fff;
      padding: 13.5px 15.3px;
      margin-bottom: 20px;
      overflow: hidden;
      border-radius: 4px;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -ms-transition: all 400ms ease;
      -o-transition: all 400ms ease;
      transition: all 400ms ease;

      &:hover {
        text-decoration: none;
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
      }
    }

    .big-letter {
      color: #fff;
      text-transform: uppercase;
      background-color: $green;
      height: 80px;
      font-size: 46px;
      font-weight: 800;
      line-height: 1em;
    }

    .enterprise-data {
      padding-left: 19px;

      h2 {
        font-family: $roboto;
        font-weight: 700;
        color: $dark-indigo;
        font-size: 15px;
        margin-bottom: 2px;
      }

      p {
        font-size: 12px;
        color: $mid-gray;
        margin-bottom: 2px;
      }

      span {
        margin-bottom: 2px;
        font-family: $roboto;
        font-weight: 400;
        font-size: 9px;
        color: $mid-gray;
      }
    }
  }
}

.description {
  margin-top: 22px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 4px;
  padding: 24px 36px;

  p {
    font-size: 17px;
    color: $mid-gray;
  }
}

// MEDIA QUERIE

@media screen and (min-width: 280px) {
  .big-letter {
    width: 120px;
  }
}

@media screen and (min-width: 425px) {
  .big-letter {
    width: 146.5px;
  }
}
